@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

.app-container {
  display: flex;
  width: 90vw;
  max-width: 900px;
  height: 90vh;
  background: #f9f9f9;
  border-radius: 20px;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}